p {
    color:beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }

  body {
    background-image: url(https://wallpapercave.com/wp/wp2578580.jpg);
    background-size: cover;
  }

  h1 {
    color: white;
  }

  h2 {
    color: white;
  }

  h3 {
    color: white;
  }
