p {
    color:beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }

  body {
    background-image: url(images/bgrnd.jpg);
    background-size: cover;
  }

  h1 {
    color: white;
  }

  h2 {
    color: white;
  }

  h3 {
    color: white;
  }
  a {
    size: 24px;
  }
